<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projetlibre">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/dso"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjetLibre.NoActionBar">
        <activity
            android:name=".ListMessage"
            android:exported="false" />
        <activity
            android:name=".MainActivity_list_pdf"
            android:exported="false" />
        <activity
            android:name=".MainImage"
            android:exported="false" />
        <activity
            android:name=".Email"
            android:exported="false" />
        <activity
            android:name=".Reserve_Conge"
            android:exported="false" />
        <activity
            android:name=".Update"
            android:exported="true" />
        <activity
            android:name=".ProfileEmployer"
            android:exported="true" />
        <activity
            android:name=".List"
            android:exported="true" />
        <activity
            android:name=".Home"
            android:exported="true" />
        <activity
            android:name=".Register"
            android:exported="true" />
        <activity
            android:name=".MainPDF"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>